body {
  background-color: #010f20;
  margin: 0;
  font-family: monospace;
}

.whcl {
  background-color: #010f20;
}

.text {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 80vh;
  user-select: none;

  .txtext {
    font-size: 20px;
    color: #a19292;
    transition: 1s;
  }
}

.faq {
  display: flex;
  margin-bottom: 200px;
  justify-content: center;
  height: 20vh;
  text-decoration: none;

  a{
    text-decoration: none;
    cursor: pointer;
    color: white;
  }
}

.opac {
  font-size: 20px;
  color: #a1929200;
  transition: 1s;
}

.none {
  display: none;
}

.container {
  background-color: #010f20;
  color: white;

  span {
    display: flex;
    justify-content: center;
    font-size: 20px;
    margin-bottom: 15px;
    margin-top: 200px;
  }

  .btn {
    display: flex;
    justify-content: center;
    gap: 10px;
    flex-wrap: wrap;
  }

  .btn-b {
    border: 3px solid gray;
    background-color: #010f20;
    color: white;
    border-radius: 10px;
    width: 60px;
    height: 40px;
    font-size: 20px;
    user-select: none;
  }

  .btn-b:active {
    background-color: #2e2e2efd;
  }

}

.trcontainer {
  background-color: #010f20;
  color: white;

  span {
    display: flex;
    justify-content: center;
    font-size: 20px;
    margin-bottom: 15px;
    margin-top: 150px;
  }

  .btn {
    display: flex;
    justify-content: center;
    gap: 10px;
    flex-wrap: wrap;
  }

  .btn-b {
    border: 3px solid gray;
    background-color: #010f20;
    color: white;
    border-radius: 10px;
    width: 60px;
    height: 40px;
    font-size: 20px;
    user-select: none;
  }

  .btn-b:active {
    background-color: #2e2e2efd;
  }

}